# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual env
.venv/
venv/
med/

# Env files
.env
.env.local

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
